<div class="container">
    <a class="row" hero nbButton status="success" routerLink="/blog" target="_self"> Blog </a>
    <div class="row"> Category Subheader With Related Topics</div>
    <div class="row"> Title of Blog Post </div>
    <div class="row"> Subtitle of Blog Post </div>
    <div class="row">
        <div class="col"> <nb-user> Anonymous Author Picture </nb-user> </div>
        <div class="col">
            <div class="row"> <p>Anonymous Author Name</p> <button outline nbButton> Follow </button> </div>
            <div class="row"> Date Published | Read Time </div>
        </div>
        <div class="col"> Social Media Sharing Icons </div>
    </div>
    <div class="row"> Picture for Blog Post </div>
    <div class="row"> Blog Post Content </div>

    <div class="row"> Related Articles </div>
    <div class="row"> Blog Post Labels/Tags </div>
    <div class="row">
        <div class="row"> Up Votes/Hand Claps for Blog Post </div>
        <div class="col"> Social Media Sharing Icons</div>
    </div>
    <div class="row"> Anonymous Author Information </div>
    <div class="row"> Comments/Responses Section</div>

</div>
