<div class="container" *ngIf="auth.userProfile$ | async as profile">

    <div class="row align-items-center mb-5" *ngIf="profile">
        <div class="col text-center">
            <img [src]="profile.picture" class="rounded-circle mb-3 w-25"/>
        </div>
        <div class="col">
            <div class="row">
                <h4 class="col">Full Name: </h4> <h3 class="col">{{ profile.name }}</h3>
            </div>
          <div class="row">
                <h4 class="col">Email Address: </h4> <h3 class="col">{{ profile.email }}</h3>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" *ngIf="profile">
        <pre class="">
            <code [highlight]="profile | json"></code>
        </pre>
    </div>

</div>
